@import url('https://fonts.googleapis.com/css?family=Poppins');

page-about {

    a {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
    }

    ion-content {
      font-family: "Poppins", sans-serif;
    }

    p{
        font-family: "Poppins", sans-serif;
    }

    .titleAbout{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
      max-width: 100%;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 265px;  
    }

    .socialMedia{
      height: 45px;
      background-color: white;
    }

    button{
      background-color: white;
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media only screen and (min-height: 1000px){
        .logo {
          max-width: 100%;
          border: 0;
          margin-top: -11%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
      }
    }

    .social span{
      font-family: "Poppins", sans-serif;
      font-size: 15px;
    }

    @media only screen and (max-width: 410px){
      .social span{
        font-size: 11px;
      }
    }

    .social{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .github{
      background-color: black; 
      color: white; 
      margin: 0 1%;
      width: 30%;
    }

    .facebook{
      background-color: #3b5998; 
      color: white;
      margin: 0 1%;
      width: 32%;
    }
  
    .instagram{
      width: 33%;
      margin: 0 1%;
    }
  }
