@import url('https://fonts.googleapis.com/css?family=Poppins');

page-cart {
    .noLineBreak{
        float: left;
        padding-right: 10px;
    }

    ion-content {
      font-family: "Poppins", sans-serif;
    }

    body {
        font-family: "Poppins", sans-serif;
        height: 100vh;
      }

      h1{
        font-family: "Poppins", sans-serif;
      }

    .button2{
        width: 100%;
        height: 60px;
        border: 1px solid;
        border-radius: 8px;
        margin-top: 16px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        transition: filter 0.2s;
        font-size: 14px;
        background-color: white;
        color: grey;
        border-color: grey;
    }

      label{
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 5%;
        font-size: 18px;
      }

      ion-content .finish{
        border: 1px solid;
        border-radius: 8px;
        margin-top: 16px;
        height: 45px;
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 15%;  
        border-color: #00a000;
        color: white;
        border: none;
    }

    ion-content .finish:hover{
      border-color: #00a000;
      background-color: white;
      color: #00a000;
    }

    .continuesBuying{
        border: 1px solid;
        border-radius: 8px;
        margin-top: 16px;
        height: 45px;
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 15%;  
        background-color: grey;
        color: white;
        border: none;
      }


    .continuesBuying:hover{
      border-color: grey;
      background-color: white;
      color: grey;
    }


.range-picker {
  font-size: 16px;
  font-size:1rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:5px;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  line-height:.9em;
  position: relative;
  top: 30px;
}
.range-picker div {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  border-right:1px solid #bbb;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  color:#bbb;
  width:30px;
  box-sizing:border-box;
  cursor:pointer;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  height:30px;
  -webkit-transition:background .5s ease;
          transition:background .5s ease;

}
.highlight-window.mobile {
  display:none;
}
.range-picker .active:hover {
  background:#fff;
}
.range-picker .active {
  -webkit-transform:scale(1.2);
      -ms-transform:scale(1.2);
          transform:scale(1.2);
  background:#fff;
  margin-right:3px;
  margin-left:2px;
  color:#333;
  border:1px solid #666;
  z-index:1;
}
.range-picker div:hover {
  background:#eee;
  -webkit-transition:background .2s;
          transition:background .2s;
}
.range-picker div:first-child {
  border-left:1px solid #bbb;
}
.range-picker div.active:first-child {
  border-left:1px solid #333;
}
    
    }