<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.produto.imageUrl || 'assets/imgs/productWithoutPhoto.png'"/>
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p>{{item.produto.preco | currency:"R$"}}</p>

      <!-- <div class="info" style="position: relative; top: 30px">
         <ion-icon class="noLineBreak" name="md-remove" style="color: red;" (click)="decreaseItem(item.produto)"></ion-icon>
          <p class="noLineBreak" >{{item.quantidade}}</p>
        <ion-icon name="md-add" style="color: green;" (click)="increaseItem(item.produto)"></ion-icon>
      </div> -->

      <div class='range-picker' id='range-picker'>
        <div (click)="decreaseItem(item.produto)" style="color: red;">-</div><div class='active'>{{item.quantidade}}</div><div (click)="increaseItem(item.produto)" style="color: green;">+</div>
      </div>

      <a style="display: flex;
      align-items: end;
      justify-content: flex-end;
      margin-top: 10%;" (click)="removeItem(item.produto)">
        <img  src="assets/imgs/trash.svg"/>
      </a>
      <!-- <ion-icon name="trash" item-end color="danger" (click)="removeItem(item.produto)"></ion-icon> -->
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total</h1>
      <h1 item-end>{{total() | currency:"R$"}}</h1>
    </ion-item>
    <div *ngIf="total() <= 0">
      <label>Carrinho Vazio!</label>
      <br>
      <img style="display: flex; align-items: center; justify-content: center; margin: 0 auto;" src="assets/imgs/emptyCart.png"/>
    </div>
  </ion-list>
  <button text-center class="continuesBuying" ion-button block (click)="goOn()">Continuar comprando</button>

  <button *ngIf="total() > 0" class="finish" text-center color="secondary" ion-button block (click)="checkout()">
    Finalizar&nbsp;<ion-icon name="checkmark"></ion-icon>
    </button>
</ion-content>
