<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!codPedido">Confira seu pedido!</ion-title>
    <ion-title *ngIf="codPedido">Pedido registrado!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!codPedido">
    <ion-card>
      <ion-card-header>
        Itens do pedido
      </ion-card-header>

      <ion-list>
        <ion-item *ngFor="let item of cartItems">
          <ion-thumbnail item-start>
            <img [src]="item.produto.imageUrl || 'assets/imgs/productWithoutPhoto.png'">
          </ion-thumbnail>
          <h2>{{item.produto.nome}}</h2>
          <p>Unidade: {{item.produto.preco | currency:"R$"}}</p>
          <p>Quantidade: {{item.quantidade}}</p>
          <p class="subtotal">Subtotal: {{item.produto.preco * item.quantidade | currency:"R$"}}</p>
          <hr>
        </ion-item>

        <ion-item>
          <h2 style="font-weight: bold;">Total</h2>
          <h2 style="font-weight: bold" item-end>{{total() | currency:"R$"}}</h2>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Cliente
      </ion-card-header>
      <ion-item>
        <h2>{{cliente?.nome}}</h2>
        <p>{{cliente?.email}}</p>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Endereço de entrega
      </ion-card-header>

      <ion-item>
        <h2>{{endereco?.logradouro}}, {{endereco?.numero}}</h2>
        <p>{{endereco?.complemento}} {{endereco?.bairro}} CEP {{endereco?.cep}}</p>
        <p>{{endereco?.cidade.nome}}, {{endereco?.cidade.estado.nome}}</p>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Pagamento
      </ion-card-header>

      <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComCartao'">
        <h3>Pagamento com cartão</h3>
        <p>Parcelas: {{pedido.pagamento.numeroDeParcelas}}</p>
      </ion-item>
      <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComBoleto'">
        <h3>Pagamento com boleto</h3>
        <p>Vencimento do boleto: {{now.getDate()}}/{{now.getMonth()}}/{{now.getFullYear()}}</p>
      </ion-item>
    </ion-card>
    <button ion-button block (click)="checkout()" class="button2 finish">
      Confirmar Pedido&nbsp;
      <ion-icon name="checkmark"></ion-icon>
    </button>
    <button ion-button block (click)="back()" class="button2 return">Voltar</button>
  </div>

  <div class="orderConfirmated" *ngIf="codPedido">
        <h2 class="orderConfirmationTitle">Seu pedido foi registrado!</h2>

        <img class="orderConfirmationImg" src="assets/imgs/OrderConfirmation.svg" />

        <h2 class="orderConfirmationDescription">Código do pedido: {{codPedido}}</h2>
        <p class="orderConfirmationEmail">Verifique seu email</p>

    <button ion-button block outline class ="returnHome"(click)="home()">Voltar</button>
  </div>

</ion-content>