page-categories {

    .cardItems{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    ion-content {
        --background: #ffff00 url('../../assets/login.png') no-repeat center center / cover !important;
        font-family: "Poppins", sans-serif;
    }

}
