@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

#Profile {
    position: absolute;
    margin: auto;
    top: 5%;
    right: 26%;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

ion-title {
  font-family: 'Poppins', sans-serif;
}

ion-content {
  font-family: "Poppins", sans-serif;
}

#Profile:before {
  content: '';
  position: absolute;
  top: -8px; left: -8px;
  width: 162px; height: 162px;
  border-radius: 162px;
  border: 2px solid #BCBCBC;
}

#Profile:after {
  content: '';
  position: absolute;
  top: -13px; left: -13px;
  width: 172px; height: 172px;
  border-radius: 172px;
  border: 2px solid #FF9900;
}

#Profile img {
  border-radius: 150px;
}

#Profile span {
  position: absolute;
  bottom: -60px;
  display: block;
  width: 150px;
  text-align: center;
  font-family: 'Oswald';
  color: #333;
  font-size: 25px;
}

#Profile a {
  position: absolute;
  right: 0; top: 0; left: 0;
  text-align: center;
  font-family: 'Abel';
  background: #7ECEFD;
  padding: 6px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

ion-list span{
  font-family: 'Poppins', sans-serif;
}

page-app {
.splash{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f83d1;
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
}