<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trocar foto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="Profile">
      <img [src]="cliente?.imageUrl || 'assets/imgs/padrao.png'"/>
      <span>Foto Atual</span>
  </div>
  <br/>
  <div id="Profile" *ngIf="picture" style="top: 20%;">
    <img [src]="picture" style="width: 150px;
    height: 150px;"/>
    <span>Nova foto</span>
  </div>

  <ion-footer>
    <ion-toolbar>
    <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">
      <ion-icon name="md-camera"></ion-icon>
    </button>
    <button ion-button block primary (click)="sendPicture()" *ngIf="picture">Salvar Imagem</button>
    <button ion-button block style="background-color: red;"(click)="cancel()" *ngIf="picture">Cancelar</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
