@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
page-signup {

.eye{
  max-width: 16%;
  border: 0;
  min-width: 15%;
  display: flex;
  align-items: end;
  justify-content: end;
  margin: 0 85%;
  position: relative;
  bottom: 70px;;
}


body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

ion-label{
  font-family: "Poppins", sans-serif;
}

ion-radio:checked:after {
color: red
}

@media only screen and (max-height: 570px) {
  .eye {
    max-width: 16%;
    border: 0;
    min-width: 15%;
    position: relative;
    left: 89%;
    bottom: 63px;
}
}

.ionitem{
  margin: 5% 0;
}

input[type="text"],input[type="number"],input[type="password"]{
  height: 20px;
  border: 0;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.passwordError:active{
    .eye {
      max-width: 16%;
      border: 0;
      min-width: 15%;
      position: relative;
      left: 95%;
      bottom: 95px;
      visibility: hidden;
  }
}

.danger{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

}